.margin-top-negative-large {
  margin-top: -8rem; }

.header {
  position: relative;
  height: 50vh;
  background-image: linear-gradient(to right, rgba(221, 234, 213, 0.8), rgba(130, 142, 121, 0.8)); }
  @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
    .header {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 85% 75%, 65% 75%, 50% 100%, 0 100%); } }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
    @media only screen and (max-width: 56.25em) {
      .row:not(:last-child) {
        margin-bottom: 6rem; } }
  @media only screen and (max-width: 56.25em) {
    .row {
      max-width: 50rem;
      padding: 0 3rem; } }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
    @media only screen and (max-width: 56.25em) {
      .row [class^="col-"] {
        width: 100% !important;
        margin-right: 0;
        margin-bottom: 6rem; } }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc( (2 * (100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc( (2 * (100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc( (3 * (100% - 3 * 6rem) / 4) + (2 * 6rem)); }

.section-about {
  height: 50vh;
  margin-top: -8rem;
  position: relative;
  background-image: linear-gradient(to left, rgba(206, 196, 186, 0.8), rgba(114, 104, 95, 0.8)); }
  @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
    .section-about {
      clip-path: polygon(0 25%, 50% 25%, 65% 0, 85% 0, 100% 25%, 100% 100%, 0 100%); } }
