@keyframes glowAura {
  from {
    box-shadow: 0 0 0.5rem 0.1rem rgba(241, 237, 246, 0.5); }
  to {
    box-shadow: 0 0 1rem 0.9rem rgba(241, 237, 246, 0.9); } }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes moveInBottom {
  0% {
    transform: translateY(-100vh); }
  100% {
    transform: translateY(0); } }

@keyframes fadeInAndOut {
  0% {
    opacity: 0; }
  20% {
    opacity: 0; }
  80% {
    opacity: 1; }
  100% {
    opacity: 0; } }

*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
  box-sizing: inherit; }

body {
  box-sizing: border-box;
  padding: 3rem 9rem 3rem 3rem; }
  @media only screen and (max-width: 56.25em) {
    body {
      padding: 0; } }

body {
  font-family: "Roboto Condensed", sans-serif;
  color: #efe9f4;
  font-weight: 400; }

.navigation {
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 300; }

.heading-primary--main {
  text-transform: uppercase;
  font-size: 7rem;
  font-weight: 700; }

.heading-primary--sub {
  text-transform: lowercase;
  font-size: 3rem;
  font-weight: 300; }

.paragraph {
  font-size: 1.6rem;
  line-height: 1.1;
  letter-spacing: .5; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.heading-secondary {
  font-size: 6rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block; }

.heading-tertiary {
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 700; }

.section-about {
  color: #694D5F; }

.project__heading {
  font-size: 2rem;
  font-weight: 300;
  text-transform: uppercase;
  color: #efe9f4; }

.u-center-text {
  text-align: center !important; }

.u-margin-top-negative-large {
  margin-top: -8rem; }

.u-margin-top-xs {
  margin-top: 1rem; }

.u-margin-top-s {
  margin-top: 2rem !important; }

.u-margin-top-m {
  margin-top: 4rem !important; }

.u-margin-top-l {
  margin-top: 8rem !important; }

.u-margin-top-xl {
  margin-top: 16rem !important; }

.u-margin-top-negative-large {
  margin-top: -8rem; }

.u-margin-bottom-xs {
  margin-bottom: 1rem; }

.u-margin-bottom-s {
  margin-bottom: 2rem !important; }

.u-margin-bottom-m {
  margin-bottom: 4rem !important; }

.u-margin-bottom-l {
  margin-bottom: 8rem !important; }

.u-margin-bottom-xl {
  margin-bottom: 16rem !important; }

.about {
  padding: 1rem; }
  .about-heading {
    color: #696D87; }
  .about__background {
    position: absolute;
    height: 50rem;
    width: 50rem;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url("../img/programmer.png");
    background-size: cover; }
  .about__picture {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-150%, -50%);
    height: 20rem;
    width: 20rem;
    background-image: url("../img/me.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 50%; }
  .about__details {
    position: absolute;
    padding: 3rem;
    width: 40%;
    top: 0;
    right: 0; }
  .about__skills-icon {
    display: inline-block;
    height: 3rem;
    width: 3rem;
    margin: 0 1rem 1rem 1rem;
    transition: all 0.2s; }
    .about__skills-icon:first-child {
      margin-left: 0; }
    .about__skills-icon:hover {
      transform: scale(1.3); }

.btn, .btn:link, .btn:visited {
  text-decoration: none;
  color: inherit;
  cursor: pointer; }

.social-media__btn {
  position: relative;
  display: block;
  height: 3rem;
  width: 3rem;
  margin: 1rem;
  border-radius: 50%;
  overflow: hidden;
  border: none;
  transition: all 0.4s;
  cursor: pointer;
  background-color: rgba(241, 237, 246, 0.6); }
  .social-media__btn-animated {
    animation: moveInBottom 1s backwards, fadeIn 3s backwards; }
  .social-media__btn:active, .social-media__btn:focus {
    outline: none; }
  .social-media__btn:hover {
    transform: scale(1.3);
    box-shadow: 0rem 0.5rem 1rem #c4bfc8; }
  .social-media__btn-1 {
    animation-delay: .089s; }
  .social-media__btn-2 {
    animation-delay: 0.178s; }
  .social-media__btn-3 {
    animation-delay: 0.267s; }
  .social-media__btn-4 {
    animation-delay: 0.356s; }
  .social-media__btn-5 {
    animation-delay: 0.536s; }
  .social-media__btn-6 {
    animation-delay: 0.716s; }

.social-media__logo {
  width: 50%; }

.project {
  background-image: linear-gradient(to right bottom, #696D87, #3B405A);
  position: relative;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 0 0 0.5rem 0.1rem rgba(241, 237, 246, 0.5);
  transition: transform 0.5s, filter 1.5s ease-out;
  filter: brightness(60%) saturate(0); }
  .project:hover {
    animation: glowAura 2s ease-in-out infinite alternate;
    transform: scale(1.2);
    filter: brightness(100%) saturate(1); }
  .project__picture {
    background-size: cover;
    height: 23rem;
    background-position: top;
    transition: all 1s;
    border-radius: 1rem; }
    .project__picture-1 {
      background-image: url("https://i.gyazo.com/2ae51d775a298600aea8c2cbadf85104.gif"); }
    .project__picture-2 {
      background-image: url("https://i.gyazo.com/b8b0eaa14c811610eef2a287a340b0ba.gif"); }
    .project__picture-3 {
      background-image: url("https://i.imgur.com/s4Y0tkD.jpg"); }
    .project__picture-4 {
      background-image: url("https://i.imgur.com/MNoWLCR.jpg"); }
    .project__picture-5 {
      background-image: url("https://i.gyazo.com/a311d8d176256c0ba2eee7ea6b082fbc.gif"); }
    .project__picture-6 {
      background-image: url("https://i.imgur.com/blGsfzs.jpg"); }
    .project__picture-7 {
      background-image: url("https://camo.githubusercontent.com/2a21fb02c17a433222960deb8477632faf9576ea/68747470733a2f2f6779617a6f2e636f6d2f64356232636632396138663066316136313632666465613937323039616234642e676966"); }
    .project__picture-8 {
      background-image: url("https://i.imgur.com/NJYLAI6.jpg"); }
  .project__heading {
    position: absolute;
    top: 20rem;
    right: 2rem; }
    .project__heading-span {
      background-image: linear-gradient(to right, rgba(151, 123, 140, 0.95), rgba(105, 77, 95, 0.95));
      padding: 0.5rem 0.8rem; }
  .project__actions {
    text-align: right; }
    .project__actions-btn {
      background-color: #FFF;
      display: inline;
      margin: 1rem 0.3rem 0 0.3rem; }
      .project__actions-btn:last-child {
        margin-right: 0; }
    .project__actions__logo {
      width: 100%; }

.header {
  position: relative;
  height: 95vh;
  background-image: linear-gradient(to right, rgba(151, 123, 140, 0.8), rgba(105, 77, 95, 0.8)), url(../img/background-2.jpg);
  background-size: cover;
  background-position: top; }
  .header__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.heading-primary--main {
  display: block;
  border-bottom: 0.1rem solid #efe9f4; }

.heading-primary--sub {
  display: block;
  animation: fadeInAndOut 5s infinite; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
    @media only screen and (max-width: 56.25em) {
      .row:not(:last-child) {
        margin-bottom: 6rem; } }
  @media only screen and (max-width: 56.25em) {
    .row {
      max-width: 50rem;
      padding: 0 3rem; } }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
    @media only screen and (max-width: 56.25em) {
      .row [class^="col-"] {
        width: 100% !important;
        margin-right: 0;
        margin-bottom: 6rem; } }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc( (2 * (100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc( (2 * (100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc( (3 * (100% - 3 * 6rem) / 4) + (2 * 6rem)); }

.navigation {
  top: 3rem;
  right: 1rem;
  position: fixed;
  z-index: 4; }
  .navigation__list {
    text-align: left; }
  .navigation__item {
    padding: 0.5rem 0rem 0.5rem 1rem;
    list-style: none;
    transition: all 0.5s;
    color: #484d6d; }
    .navigation__item-span {
      border-bottom: 0.1rem solid rgba(128, 94, 115, 0.9); }
    .navigation__item:hover {
      transform: translateX(-0.2rem); }

.section-social-media {
  top: 50vh;
  left: 3.5rem;
  position: fixed;
  z-index: 4;
  transform: translateY(-50%); }

.section-about {
  position: relative;
  padding: 25rem 5rem;
  background-image: linear-gradient(to left, rgba(241, 237, 246, 0.8), rgba(196, 191, 200, 0.8));
  background-size: cover;
  background-position: top; }

.section-projects {
  padding: 5rem 10rem;
  background-image: linear-gradient(to left, rgba(105, 109, 135, 0.8), rgba(59, 64, 90, 0.8)), url(../img/background-3.jpg);
  background-size: cover;
  background-position: top; }
