// Colors
$color-primary: #805e73;
$color-primary-light: #977B8C;
$color-primary-dark: #694D5F;

$color-secondary: #484d6d;
$color-secondary-light: #696D87;
$color-secondary-dark: #3B405A;

$color-tertiary: #efe9f4;
$color-tertiary-light: #F1EDF6;
$color-tertiary-dark: #C4BFC8;

$color-white: #FFF;
$color-black: #000;
$color-grey-dark: #444;

$color-text-primary: $color-tertiary;
$color-text-secondary: $color-primary;
$color-text-tertiary: $color-secondary;

// Grid
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;

// Font sizes
$default-font-size: 1.6rem;

// Z-Index
$priority-xl: 1;
$priority-l: 2;
$priority-m: 3;
$priority-h: 4;
$priority-xh: 5;