// Colors
$color-primary: #5A5B57;
$color-primary-light: #7F7F7C;
$color-primary-dark: #363732;

$color-secondary: #F7F4EA;
$color-secondary-light: #F8F6ED;
$color-secondary-dark: #CBC8C0;

$color-tertiary: #4DE2A2;
$color-tertiary-light: #7DE9BB;
$color-tertiary-dark: #46CE94;

$color-white: #FFF;
$color-black: #000;
$color-grey-dark: #444;

// Grid
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;

// Font sizes
$default-font-size: 1.6rem;

// Z-Index
$priority-xl: 1;
$priority-l: 2;
$priority-m: 3;
$priority-h: 4;
$priority-xh: 5;

// Animations

$about-initial-delay: .5s;
$about-duration: .3s;
