.about {
  padding: 1rem;
  color: $color-secondary;

  &-heading {
    color: $color-text-secondary;
  }

  &__background {
    position: absolute;
    height: 50rem;
    width: 50rem;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url("../img/programmer.png");
    background-size: cover;
    animation: moveInCenterRight $about-duration ease-out 1 $about-initial-delay
        normal backwards,
      fadeIn $about-duration ease-out 1 $about-initial-delay normal backwards;
  }

  &__picture {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-150%, -50%);
    height: 20rem;
    width: 20rem;
    background-image: url("../img/me.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    animation: moveInCenterLeft $about-duration ease-out 1
        ($about-initial-delay + $about-duration) normal backwards,
      fadeIn $about-duration ease-out 1 ($about-initial-delay + $about-duration)
        normal backwards;
  }

  &__details {
    position: absolute;
    padding: 3rem;
    width: 40%;
    top: 0;
    right: 0;
  }

  &__skills {
    &-icon {
      display: inline-block;
      height: 3rem;
      width: 3rem;
      margin: 0 1rem 1rem 1rem;
      transition: all 0.2s;
      transform: translateX(-100%);
      animation: moveInRight-2 ($about-duration / 2) ease-out 1 normal forwards;
      &:first-child {
        margin-left: 0;
      }

      &:hover {
        transform: scale(1.3);
      }

      &-1 {
        animation-delay: ($about-initial-delay + $about-duration);
      }
      &-2 {
        animation-delay: ($about-initial-delay + $about-duration) +
          ($about-duration / 2);
      }
      &-3 {
        animation-delay: ($about-initial-delay + $about-duration) +
          ($about-duration / 2) * 2;
      }
      &-4 {
        animation-delay: ($about-initial-delay + $about-duration) +
          ($about-duration / 2) * 3;
      }
      &-5 {
        animation-delay: ($about-initial-delay + $about-duration) +
          ($about-duration / 2) * 4;
      }
      &-6 {
        animation-delay: ($about-initial-delay + $about-duration) +
          ($about-duration / 2) * 5;
      }
    }
  }
}
