.btn {
    &, &:link, &:visited {
        text-decoration: none;
        color: inherit;
        cursor: pointer;
    }

    &-round {
        border-radius: 50%;
    }

    &-white {
        background-color: rgba($color-white, .8);
    }

    &-secondary {
        border: .2rem solid $color-tertiary;
        background-color: transparent;
        transition: all .3s;
        &:hover {
            background-color: $color-secondary;
            border: .2rem solid $color-secondary;
        }
    }

    &-unavailable {
        text-decoration: line-through;
        cursor: not-allowed;
    }
}