.btn {
    &, &:link, &:visited {
        text-decoration: none;
        color: inherit;
        cursor: pointer;
    }

    &-white {
        background-color: rgba($color-white, .8);
    }

    &-unavailable {
        text-decoration: line-through;
        cursor: not-allowed;
    }
}