.project {
  background-image: linear-gradient(
    to right bottom,
    $color-secondary-light,
    $color-secondary-dark
  );
  position: relative;
  padding: .3rem;
  min-width: 25rem;
  border-radius: 1.2rem;
  box-shadow: 0 0 5rem 0.1rem rgba($color-tertiary-light, 0.5);
  transition: transform 0.5s, filter 1.5s ease-out;
  filter: brightness(60%) saturate(0);

  &:hover {
    animation: glowAura 2s ease-in-out infinite alternate;
    transform: scale(1.2);
    filter: brightness(100%) saturate(1);
    z-index: $priority-h;
  }

  &__picture {
    background-size: cover;
    height: 23rem;
    background-position: top;
    transition: all 1s ease-in-out;
    border-radius: 1rem;

    &-1 {
      background-image: url("../img/natours-1.png");
    }

    &-2 {
      background-image: url("../img/photolytics-1.png");
    }

    &-3 {
      background-image: url("../img/calculator-1.png");
    }

    &-4 {
      background-image: url("../img/randomquotemachine-1.png");
    }

    &-5 {
      background-image: url("../img/vrduckhunt-1.png");
    }

    &-6 {
      background-image: url("../img/gatchasimulator-1.jpg");
    }

    &-7 {
      background-image: url("../img/playerbase-1.png");
    }

    &-8 {
      background-image: url("../img/landingpage-1.png");
    }
  }

  &:hover > &__picture-1 {
    background-image: url("https://i.gyazo.com/2ae51d775a298600aea8c2cbadf85104.gif");
  }

  &:hover > &__picture-2 {
    background-image: url("https://i.gyazo.com/b8b0eaa14c811610eef2a287a340b0ba.gif");
  }

  &:hover > &__picture-5 {
    background-image: url("https://i.gyazo.com/a311d8d176256c0ba2eee7ea6b082fbc.gif");
  }

  &:hover > &__picture-7 {
    background-image: url("https://camo.githubusercontent.com/2a21fb02c17a433222960deb8477632faf9576ea/68747470733a2f2f6779617a6f2e636f6d2f64356232636632396138663066316136313632666465613937323039616234642e676966");
  }

  &__heading {
    position: absolute;
    top: 20rem;
    right: 1rem;
    &-span {
      background-image: linear-gradient(
        to right,
        rgba($color-primary-light, 0.95),
        rgba($color-primary-dark, 0.95)
      );
      padding: 0.5rem 0.8rem;
    }
  }

  &__actions {
    position: absolute;
    top: 0;
    right: .3rem;
    text-align: right;
    &-btn {
      display: inline;
      margin: .3rem;
      background-color: rgba($color-tertiary-dark, .8);
      &:last-child {
        margin-right: 0;
      }
    }

    &__logo {
      width: 100%;
    }
  }
}
