@keyframes glowAura {
    from {
        box-shadow: 0 0 5rem .1rem rgba($color-tertiary-light, .5); 
    }
    to {
        box-shadow: 0 0 5rem .9rem rgba($color-tertiary-light, .9); 
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes moveInBottom {
    0% {
        transform: translateY(-100vh)
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes fadeInAndOut {
    0% {
        opacity: 0;
    }

    20% {
        opacity: 0;
    }

    80% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}