*,
*::after,
*::before {
    margin: 0px;
    padding: 0px;
    box-sizing: inherit;
}

body {
    box-sizing: border-box;
    padding: 3rem 9rem 3rem 3rem;
    @include respond(tab-port) { // width < 900?
        padding: 0;
    }
    background-color: $color-secondary;
}

ion-icon {
    font-size: 64px;
}