.margin-top-negative-large {
    margin-top: -8rem;
}

.margin-top-xs {
    margin-top: 1rem;
}

.margin-top-s {
    margin-top: 2rem !important;
}

.margin-top-m {
    margin-top: 4rem !important;
}

.margin-top-l {
    margin-top: 8rem !important;
}

.margin-top-xl {
    margin-top: 16rem !important;
}