.section-social-media {
  top: 50vh;
  left: 3.5rem;
  position: fixed;
  z-index: $priority-h;
  transform: translateY(-50%);
}

.section-projects {
  background-image: linear-gradient(
      to left,
      rgba($color-secondary-light, 0.8),
      rgba($color-secondary-dark, 0.8)
    ),
    url(../img/background-3.jpg);
  background-size: cover;
  background-position: top;
  padding: 5rem 10rem;

  // @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
  //   clip-path: polygon(0 25%, 50% 25%, 65% 0, 85% 0, 100% 25%, 100% 100%, 0 100%);
  //   -webkit-clip-path: polygon(0 25%, 50% 25%, 65% 0, 85% 0, 100% 25%, 100% 100%, 0 100%);
  // }
}
