.section-social-media {
  top: 50vh;
  left: 3.5rem;
  position: fixed;
  z-index: $priority-h;
  transform: translateY(-50%);
}

.section-about {
  position: relative;
  padding: 25rem 5rem;
  background-image: linear-gradient(
      to right bottom,
      rgba($color-tertiary, 0),
      rgba($color-tertiary, 0.9)
    ),
    url("../img/background-2.svg");
  background-size: cover;
  background-position: center;
}

.section-projects {
  padding: 5rem 10rem;
  background-image: linear-gradient(
    to right bottom,
    $color-primary-light,
    $color-primary-dark
  );

  // @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
  //   clip-path: polygon(0 25%, 50% 25%, 65% 0, 85% 0, 100% 25%, 100% 100%, 0 100%);
  //   -webkit-clip-path: polygon(0 25%, 50% 25%, 65% 0, 85% 0, 100% 25%, 100% 100%, 0 100%);
  // }
}
